<div class="wrapper_with_padding">
	<h1><%= @user.first_name %>'s Playlist</h1>
	<div class="nav_box">
		<a class="btn-small" href="/songs">Dashboard</a>
		<%= link_to "Logout", controller: 'users', action: 'logout' %>
	</div><!-- //nav_box -->

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Artist</th>
				<th>Title</th>
				<th>Times Added</th>
			</tr>
		</thead>
		<tbody>
				<!-- get the playlist -->
				<% Playlist.all.where(user_id:@user.id).group(:song_id).each do |p| %>
				<tr>
					<td><%= p.song.title %></td>
					<td><%= p.song.artist %></td>
					<td><%= Playlist.all.where(song_id:p.song_id, user_id:p.user_id).count %></td>
				</tr>
				<% end %>
		</tbody>
	</table>
</div><!-- //wrapper_with_padding -->